// @import url('../../../resources/css/custom.module.scss');

.plan_card_box {
  display: block;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  overflow: hidden;
  .cardclassname {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.plan_description {
  padding: 22px;
  .desc_label {
    font-weight: 700;
    font-size: 12px;
    display: block;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #565656;
    line-height: 180%;
  }
}

.plan_info {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  img {
    max-width: 17px;
    margin-right: 12px;
    filter: invert(34%) sepia(19%) saturate(5%) hue-rotate(354deg) brightness(94%) contrast(95%);
  }
  span {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    text-transform: inherit;
    letter-spacing: normal;

  }
  &:last-child {
    margin-bottom: 0;
  }
}

.side_by_side {
  display: flex;
  justify-content: space-between;
  .plan_description {
    display: block;
    order: 1;
    width: 50%;
  }
  .imgcard {
    order: 2;
    width: 50%;
  }
  .card_img_Fix {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    object-fit: cover;
  }
}

.desc_sub_rates {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
  img {
    filter: invert(34%) sepia(19%) saturate(5%) hue-rotate(354deg) brightness(94%) contrast(95%);
  }
}

.ranks {
  display: flex;
  gap: 4px;
  align-items: center;
  img {
    width: 16px;
    height: auto;
  }
  span {
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
  }
}

.desc_center {
  align-items: center;
  height: 100%;
  .imgcard {
    height: 100%;
  }
}