//custom styling for page

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
  text-align: left;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/* root variables here */
:root {
  --primary: #ef5142;
  --secondary-dark: #eeaf1b;
  --dark: #161616;
  --gray-background: #f2f2f2;
  --black: #000;
  --background-color: #f2f2f2;
  --disabled: #dee1e3;
  --disabled-input: #eff0f1;
  --grey-light: #c4cbcf;
  --danger: #e66a68;
  --grey-dark: #808085;
  --timeline-mark: #dadada;
  --light-background: #fcfbfb;
  --overlay: rgba(14 14, 14, 0.5);
  --font-family: 'Nunito', sans-serif;
}

// Layout design is here
.container_fluid {
  max-width: 100%;
  width: 100%;
  padding: 0 12px;
}
.container_limit {
  width: 100%;
  margin: 0 auto;
  padding: 0 82px;
  @media (max-width: 1024px) {
    padding: 0 12px;
  }
}

.container {
  max-width: 1104px;
  padding: 0 12px;
  margin: 0 auto;
}

.container_article {
  max-width: 724px;
  margin: 0 auto;
  @media (max-width: 768px) {
    margin: inherit;
  }
}
.container_categories {
  max-width: 1328px;
  margin: 0 auto;

}

.artical_wrapper {
  max-width: 700px;
  width: 100%;
}

.banner_container {
  width: 100%;
  max-width: 1104px;
  padding: 0 12px;
  margin: 0 auto;
}

.d_flex_aligned {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// fonts are here
@font-face {
  font-family: 'Instrument Sans';
  src: url('../fonts/InstrumentSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../fonts/InstrumentSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../fonts/InstrumentSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}
@font-face {
  font-family: 'Instrument Sans';
  src: url('../fonts/InstrumentSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

// Typography is here

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}

.h3-v2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
}

.pv1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}

small {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  display: block;
}

.mobile_h2 {
  font-weight: 700;
font-size: 22px;
line-height: 130%;
}
// Global Classes

.text_center {
  text-align: center;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0 !important;
}

.m_auto {
  margin: 0 auto;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mb_2 {
  margin-bottom: 2rem;
}
.mt_22 {
  margin-top: 22px;
}
.mb_22 {
  margin-bottom: 22px;
}
.pt_1 {
  padding-top: 1rem;
}

.pt_2 {
  padding-top: 2rem;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.mb_default {
  margin-bottom: 8px;
}

article {
  background: #F2F2F2;
border-left: 4px solid #161616;
padding: 22px;
font-weight: 400;
font-size: 16px;
line-height: 180%;
}


.mono_header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.16em;
}

.Advertisement {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  min-height: 146px;
}

.gray_container {
  background-color: var(--background-color);
  padding: 2rem 0;
}

.text_gray {
  color: #565656;
}

.text_dark {
  color: #000000 !important;
}

.text_underline {
  text-decoration: underline;
}

.mobile_text_left {
  @media (max-width: 768px) {
    text-align: left;
  }
}

.header_with_icon {
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.btn_with_Title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  @media (max-width: 768px) {
    display: block;
    button {
      margin-top: 1rem;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.plans_slider {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    background: #f2f2f2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
  }

  .swiper-button-prev {
    left: 0;
    &:after {
      content: '';
      background: url('../images/svg/swiper-left.svg') no-repeat center;
      width: 6px;
      height: 8px;
      background-size: contain;
      opacity: 1;
    }
  }
  .swiper-button-next {
    right: 0;
    &:after {
      content: '';
      background: url('../images/svg/swiper-right.svg') no-repeat center;
      width: 6px;
      height: 8px;
      background-size: contain;
    }
  }
  .swiper-pagination {
    position: static;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 22px;
    margin-bottom: 22px;
    span {
      width: 6px;
      height: 6px;
      background: #dbdbdb;
      opacity: 1;
      vertical-align: middle;
    }
    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background: #161616;
    }
  }
}

.pagination_desktop {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
   display: none;
  }
  @media (max-width:768px) {
    .swiper-button-prev {
      display: flex;
    }
    .swiper-button-next {
     display: flex;
    }
  }
}

.banner_slider {
  .swiper-button-prev {
    left: 14px;
    top: 38%;
    background: rgba(242, 242, 242, 0.24);
    border: transparent;
    &:after {
      content: '';
      background: url('../images/svg/swiper-left.svg') no-repeat center;
      width: 13px;
      height: 14px;
      background-size: contain;
      opacity: 1;
      filter: invert(1);
    }
    @media (max-width:480px) {
      top: 24%;
    }

  }
  .swiper-button-next {
    right: 14px;
    top: 38%;
    background: rgba(242, 242, 242, 0.24);
    border: transparent;
    &:after {
      content: '';
      background: url('../images/svg/swiper-right.svg') no-repeat center;
      width: 13px;
      height: 14px;
      background-size: contain;
      filter: invert(1);
    }
    @media (max-width:480px) {
      top: 24%;
    }
  }
}

// form

.form_group {
  display: block;
  width: 100%;
}

.form_control {
  display: inline-block;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #969696;
  padding: 6px 12px;
}

.colomns {
  display: flex;
  justify-content: space-between;
}
.colomns-wrap {
  flex-wrap: wrap;
}

// calander

.react-datepicker {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #dbdbdb !important;
  font-weight: 400;
  font-size: 16px !important;
  font-family: 'Instrument Sans' !important;
  .react-datepicker__month-container {
    width: 100%;
    border-right: 1px solid #dbdbdb;
    &:last-child {
      border-right: 0;
    }
  }
  .react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .react-datepicker__week {
    display: flex;
    justify-content: space-between;
  }
  .react-datepicker__month {
    text-align: center;
    padding: 0 12px;
    margin: 0;
  }
  .react-datepicker__header {
    width: 100%;
    background: transparent;
    border-bottom: 0;
  }
  .react-datepicker__current-month {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 16px !important;
  }
  .react-datepicker__day--today {
    color: #fff !important;
    font-weight: 400 !important;
    background: transparent;
    position: relative;
    z-index: 1;
    &:after {
      width: 44px;
      height: 44px;
      content: '';
      background: black;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -8px;
      left: -8px;
      z-index: -1;
    }
    &::before {
      content: "";
    display: block;
    width: 14px;
    height: 3px;
    background: red;
    border-radius: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    }
  }
  .react-datepicker__day {
    margin: 0.4rem 0.166rem;
  }
  .react-datepicker__day--outside-month {
    color: #c6c6c6;
  }
  .react-datepicker__day--selected {
    background-color: transparent;
    color: inherit;
    position: relative;
    &::before {
      content: "";
    display: block;
    width: 14px;
    height: 3px;
    background: red;
    border-radius: 22px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    }
  }
}

.border_section_radius {
  border-radius: 0.5rem;
}